<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Symfony | Your time your money</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Ionicons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}

    {% block top_javascripts %}
        <!-- JS master -->
    {% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">

{% block body %}{% endblock %}

<!-- jQuery 3 -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


{% block javascripts %}

    <!-- JS master -->
	{#{% javascripts#}
	{#'@AppBundle/Resources/public/js/lib/jquery.blockUI.js'#}
	{#'@AppBundle/Resources/public/js/common_ajax.js'#}
	{#'@AppBundle/Resources/public/js/lib/moment.min.js'#}
	{#'@AppBundle/Resources/public/js/lib/daterangepicker.js'#}
	{#'@AppBundle/Resources/public/js/homepage/functions.js'#}
	{#'@AppBundle/Resources/public/js/master.js'#}
	{#'@AppBundle/Resources/public/js/locale.js'#}
	{#output='bundles/app/js/fo_master.js' %}#}
	{#<script src="{{ asset_url }}"></script>#}
	{#{% endjavascripts %}#}

{% endblock %}

</body>
</html>
