.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }
.mx0 { margin-left:   0; margin-right:  0 }
.my0 { margin-top:    0; margin-bottom: 0 }

.m-half  { margin:        0.5em }
.mt-half { margin-top:    0.5em }
.mr-half { margin-right:  0.5em }
.mb-half { margin-bottom: 0.5em }
.ml-half { margin-left:   0.5em }
.mx-half { margin-left:   0.5em; margin-right:  0.5em }
.my-half { margin-top:    0.5em; margin-bottom: 0.5em }

.m1  { margin:        1em }
.mt1 { margin-top:    1em }
.mr1 { margin-right:  1em }
.mb1 { margin-bottom: 1em }
.ml1 { margin-left:   1em }
.mx1 { margin-left:   1em; margin-right:  1em }
.my1 { margin-top:    1em; margin-bottom: 1em }

.m2  { margin:        2em }
.mt2 { margin-top:    2em }
.mr2 { margin-right:  2em }
.mb2 { margin-bottom: 2em }
.ml2 { margin-left:   2em }
.mx2 { margin-left:   2em; margin-right:  2em }
.my2 { margin-top:    2em; margin-bottom: 2em }

.m3  { margin:        3em }
.mt3 { margin-top:    3em }
.mr3 { margin-right:  3em }
.mb3 { margin-bottom: 3em }
.ml3 { margin-left:   3em }
.mx3 { margin-left:   3em; margin-right:  3em }
.my3 { margin-top:    3em; margin-bottom: 3em }

.m4  { margin:        4em }
.mt4 { margin-top:    4em }
.mr4 { margin-right:  4em }
.mb4 { margin-bottom: 4em }
.ml4 { margin-left:   4em }
.mx4 { margin-left:   4em; margin-right:  4em }
.my4 { margin-top:    4em; margin-bottom: 4em }

.mxn1 { margin-left: -1em; margin-right: -1em; }
.mxn2 { margin-left: -2em; margin-right: -2em; }
.mxn3 { margin-left: -3em; margin-right: -3em; }
.mxn4 { margin-left: -4em; margin-right: -4em; }

.ml-auto { margin-left: auto }
.mr-auto { margin-right: auto }
.mx-auto { margin-left: auto; margin-right: auto; }

.p0  { padding:        0 }
.pt0 { padding-top:    0 }
.pr0 { padding-right:  0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left:   0 }
.px0 { padding-left:   0; padding-right:  0 }
.py0 { padding-top:    0; padding-bottom: 0 }

.p-half  { padding:        0.5em }
.pt-half { padding-top:    0.5em }
.pr-half { padding-right:  0.5em }
.pb-half { padding-bottom: 0.5em }
.pl-half { padding-left:   0.5em }
.px-half { padding-left:   0.5em; padding-right:  0.5em }
.py-half { padding-top:    0.5em; padding-bottom: 0.5em }

.p1  { padding:        1em }
.pt1 { padding-top:    1em }
.pr1 { padding-right:  1em }
.pb1 { padding-bottom: 1em }
.pl1 { padding-left:   1em }
.px1 { padding-left:   1em; padding-right:  1em }
.py1 { padding-top:    1em; padding-bottom: 1em }

.p2  { padding:        2em }
.pt2 { padding-top:    2em }
.pr2 { padding-right:  2em }
.pb2 { padding-bottom: 2em }
.pl2 { padding-left:   2em }
.px2 { padding-left:   2em; padding-right:  2em }
.py2 { padding-top:    2em; padding-bottom: 2em }

.p3  { padding:        3em }
.pt3 { padding-top:    3em }
.pr3 { padding-right:  3em }
.pb3 { padding-bottom: 3em }
.pl3 { padding-left:   3em }
.px3 { padding-left:   3em; padding-right:  3em }
.py3 { padding-top:    3em; padding-bottom: 3em }

.p4  { padding:        4em }
.pt4 { padding-top:    4em }
.pr4 { padding-right:  4em }
.pb4 { padding-bottom: 4em }
.pl4 { padding-left:   4em }
.px4 { padding-left:   4em; padding-right:  4em }
.py4 { padding-top:    4em; padding-bottom: 4em }

.pxn1 { padding-left: -1em; padding-right: -1em; }
.pxn2 { padding-left: -2em; padding-right: -2em; }
.pxn3 { padding-left: -3em; padding-right: -3em; }
.pxn4 { padding-left: -4em; padding-right: -4em; }

.text-center-vertical{
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.el-center{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%)
}

.el-vertical{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}

.el-horizontal{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-bg{
    background-color: transparent !important;
    border: 1px solid #333;
    color: #333;
}

.form-control{
    box-shadow: none;
    -webkit-box-shadow:none;
    border-radius: 0px;
}

.customer-wrapper .info-wrapper{
    border-bottom: 1px solid #ccc;
}
.customer-wrapper{
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: auto;
}
.main-messages{
    text-align: center;
}
.ias_trigger{
    width: 100%;
    display: inline-table;
    text-align: center;
}
.main-list li{
    margin: 15px 0px;
    font-size: 13px;
}
@media only screen and (max-width: 480px){
    #portfoliolist .portfolio {
        width: 90%;
        margin: 10px;
    }
}
