{% extends '@App/front_office/front_office_layout.html.twig' %}

{% block header %}

    {% include '@App/home/components/header.html.twig' %}

{% endblock %}

{% block content %}

    <!-- start slider -->
    <div class="slider_bg">
        <div class="wrap">
            <div class="slider">
                <h2>creative calm</h2>
                <h3>What we Think, latest news</h3>
            </div>
        </div>
    </div>
    <!-- start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <div class="content">
                    <!-- start details -->
                    <div class="details">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing</h2>
                        <div class="det_pic">
                            <img src="/bundles/app/front_office/images/det_pic.jpg" alt="" />
                        </div>
                        <div class="det_text">
                            <p class="para">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. </p>
                            <p class="para">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics</p>
                            <div class="read_more">
                                <a class="btn" href="details.html">read more</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- end details -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

    {% include '@App/home/components/footer.html.twig' %}

{% endblock %}

