{% extends '@App/front_office/front_office_layout.html.twig' %}

{% block header %}

    {% include '@App/home/components/header.html.twig' %}

{% endblock %}

{% block content %}

    <!-- start main -->
    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <!-- start popup -->
                <div id="small-dialog" class="mfp-hide">
                    <div class="pop_up">
                        <h2>Lorem Ipsum is simply dummy text of the printing and industry</h2>
                        <img src="/bundles/app/front_office/images/zoom.jpg" title="image-name">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                        <a class="btn" href="details.html">Read more</a>
                    </div>
                </div>
                <!-- end popup -->
                <!-- start gallery  -->
                <div class="container">
                    <div id="portfoliolist">
                        <a class="popup-with-zoom-anim" href="/orders">
                            <div class="portfolio logo1" data-cat="logo">
                                <div class="portfolio-wrapper">
                                    <img src="/bundles/app/front_office/images/pic1.jpg"  alt="Image 2" />
                                    <div class="label">
                                        <div class="label-text">
                                            <p class="text-title">Orders</p>
                                            <span class="text-category">1024</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="popup-with-zoom-anim" href="/bad-orders">
                            <div class="portfolio app" data-cat="app">
                                <div class="portfolio-wrapper">
                                    <img src="/bundles/app/front_office/images/pic2.jpg"  alt="Image 2" />
                                    <div class="label">
                                        <div class="label-text">
                                            <p class="text-title">Bad Orders</p>
                                            <span class="text-category">30</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="popup-with-zoom-anim" href="/customers">
                            <div class="portfolio web" data-cat="web">
                                <div class="portfolio-wrapper">
                                    <img src="/bundles/app/front_office/images/pic3.jpg"  alt="Image 2" />
                                    <div class="label">
                                        <div class="label-text">
                                            <p class="text-title">Customer</p>
                                            <span class="text-category">20</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="popup-with-zoom-anim" href="/today">
                            <div class="portfolio card" data-cat="card">
                                <div class="portfolio-wrapper">
                                    <img src="/bundles/app/front_office/images/pic4.jpg"  alt="Image 2" />
                                    <div class="label">
                                        <div class="label-text">
                                            <p class="text-title">Today</p>
                                            <span class="text-category">10</span>
                                        </div>
                                        <div class="label-bg"></div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div><!-- end container -->
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

    {% include '@App/home/components/footer.html.twig' %}

{% endblock %}