<!-- start footer -->
<div class="footer_bg">
    <div class="wrap">
        <div class="footer">
            <div class="span_of_4">
                <div class="span1_of_4">
                    <h4>about us</h4>
                    <p>Nextway phát triển ứng dụng Seashell nhầm giúp mọi người dễ dàng trong việc quản lý hồ sơ vay. Nextway miễn phí sử dụng trong 2 tháng và cam kết hỗ trợ chi phí hợp lí cho khách hàng.</p>
                </div>

                <div class="clear"></div>
            </div>
            <div class="footer_top">
                <div class="f_nav1">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="/profile">profile</a></li>
                        <li><a href="/logout">logout</a></li>
                    </ul>
                </div>
                <div class="copy">
                    <p class="link"><span>© All rights reserved | Power by&nbsp;<a href="http://nextway.asia/"> Nextway</a></span></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>