<!-- start header -->
<div class="header_bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <h1><a href="/"><img src="/bundles/app/front_office/images/logo.png" alt=""/></a></h1>
            </div>
            <div class="h_right">
                <ul class="menu">
                    <li class="active"><a href="/">home</a></li>
                    <li><a href="/profile">profile</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
                <script src="/bundles/app/front_office/js/classie.js"></script>
                <script src="/bundles/app/front_office/js/uisearch.js"></script>
                <script>
                    new UISearch( document.getElementById( 'sb-search' ) );
                </script>
                <!-- start smart_nav * -->
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="/">Home</a></li>
                        <li class="nav-item"><a href="/profile">Profile</a></li>
                        <li class="nav-item"><a href="/logout">Logout</a></li>
                        <div class="clear"></div>
                    </ul>
                </nav>
                <script type="text/javascript" src="/bundles/app/front_office/js/responsive.menu.js"></script>
                <!-- end smart_nav * -->
            </div>
            <div class="clear"></div>
        </div>
        {% block header_bottom %}{% endblock header_bottom %}
    </div>
</div>