{% extends '@App/master_layout.html.twig' %}

{% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="/bundles/user/css/anonymous-style.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block body %}

    <div class="center-container">

        <!--header-->
        <div class="header-w3l">
            <h1>Symfony</h1>
        </div>
        <!--//header-->

        {% block main_form %}

        {% endblock %}

        <!--footer-->
        <div class="footer">
            <p>&copy; All rights reserved | Design by <a href="">Nextway</a></p>
        </div>
        <!--//footer-->

    </div>

{% endblock %}