{% extends '@User/anon/base_layout.html.twig' %}

{% block main_form %}

    <!--main-->
    <div class="main-content-agile">
        <h2>Change password<i class="fa mail fa-envelope"></i></h2>
        <div class="sub-main-w3">
            <form action="#" method="post">
                <div class="field">
                    <i class="fa fa-lock"></i>
                    <input placeholder="New Password" name="mail" type="password" required="">
                </div>
                <div class="field">
                    <i class="fa fa-lock"></i>
                    <input  placeholder="Repeat Password" name="Phone" type="password" required="">
                </div>
                <p><i class="fa fa-info-circle"></i> At least 6 characters.</p>
                <input type="submit" value="Change">
            </form>
        </div>
    </div>
    <!--//main-->

{% endblock %}