{% extends '@User/anon/base_layout.html.twig' %}

{% block main_form %}

    <!--main-->
    <div class="main-content-agile">
        <h2>Forgot Password<i class="fa mail fa-envelope"></i></h2>
        <p><i class="fa fa-lock"></i> We will send you instructions via email on how to reset your password</p>
        <div class="sub-main-w3">
            <form action="#" method="post">
                <div class="field">
                    <i class="fa fa-envelope"></i>
                    <input placeholder="E-mail" name="mail" type="email" required="">
                </div>
                <input type="submit" value="Send me instruction">
            </form>
        </div>
    </div>
    <!--//main-->

{% endblock %}