{% extends '@User/anon/base_layout.html.twig' %}

{% block main_form %}

    <!--main-->
    <div class="main-content-agile">
        <h2>Sign In<i class="fa mail fa-envelope"></i></h2>
        <div class="sub-main-w3">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login_action') }}" method="post">
                <div class="field">
                    <i class="fa fa-envelope"></i>
                    <input placeholder="Username" id="username" name="_username" type="text" required="">
                </div>
                <div class="field">
                    <i class="fa fa-lock"></i>
                    <input  placeholder="Password" id="password" name="_password" type="password" required="">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(form_csrf_token_id) }}"/>
                </div>
                <p><i class="fa fa-lock"></i> Your information is safe with us</p>
                <input type="submit" value="Sign in">
            </form>
        </div>
    </div>
    <!--//main-->

{% endblock %}