{% extends '@User/anon/base_layout.html.twig' %}

{% block main_form %}

    <!--main-->
    <div class="main-content-agile">
        <h2>Join Us Today!<i class="fa mail fa-envelope"></i></h2>
        <div class="sub-main-w3">
            <form action="#" method="post">
                <div class="field">
                    <i class="fa fa-user"></i>
                    <input placeholder="Full Name" name="mail" type="text" required="">
                </div>
                <div class="field">
                    <i class="fa fa-envelope"></i>
                    <input placeholder="E-mail" name="mail" type="email" required="">
                </div>
                <div class="field">
                    <i class="fa fa-phone"></i>
                    <input  placeholder="Phone Number" name="Phone" type="text" required="">
                </div>
                <div class="field">
                    <i class="fa fa-lock"></i>
                    <input  placeholder="Password" name="Phone" type="password" required="">
                </div>
                <div class="field">
                    <i class="fa fa-lock"></i>
                    <input  placeholder="Repeat Password" name="Phone" type="password" required="">
                </div>
                <p><i class="fa fa-lock"></i> Your information is safe with us</p>
                <input type="submit" value="Sign up">
            </form>
        </div>
    </div>
    <!--//main-->

{% endblock %}