{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="container main-messages">
        <div class="alert alert-{{ type }} alert-dismissible fade in " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
      </div>
    {% endfor %}
{% endfor %}