{% if curPage is not defined or curPage is empty %}
    {% if app.request.get('page') is not defined or app.request.get('page') is empty %}
        {% set curPage =  1 %}
    {% else %}
        {% set curPage =  app.request.get('page')  %}
    {% endif %}
{% endif %}
{% if path is not defined or path is empty %}
    {% set curPath =  path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% endif %}
<ul class="mt2 main-paging">
    {#Process params#}
    {#{% set queryParams = app.request.query.all %}
    {% set queryString = "" %}
    {% for key,param in queryParams %}
        {% if key!="page" %}
            {% set queryString =queryString~"&"~key~"="~param %}
        {% endif %}
    {% endfor %}#}
        <li>
            <a class="btn loadmore" data-next="{{ curPage+1 }}" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))  }}?page={{ curPage+1}}">Load more</a>
        </li>

</ul>