{% extends '@App/master_layout.html.twig' %}

{% block stylesheets %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    {% stylesheets filter="scssphp"
    "@AppBundle/Resources/public/front_office/css/style.css"
    "@AppBundle/Resources/public/front_office/css/custom.css"
    '@AppBundle/Resources/public/front_office/css/magnific-popup.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block bodyclass %}{% endblock %}

{% block body %}

    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

{% endblock %}
{#"@AppBundle/Resources/public/js/lib/validator.min.js"
    "@AppBundle/Resources/public/js/lib/select2/select2.full.js"#}
{% block javascripts %}

    {% javascripts filter="?jsqueeze"
    "@AppBundle/Resources/public/front_office/js/jquery.easing.min.js"
    "@AppBundle/Resources/public/front_office/js/jquery.mixitup.min.js"
    "@AppBundle/Resources/public/front_office/js/jquery.magnific-popup.js"


    "@AppBundle/Resources/public/js/lib/common_ajax.js"
    "@AppBundle/Resources/public/js/lib/infinite_scroll/jquery.ias.min.js"

    "@AppBundle/Resources/public/front_office/js/main.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}