{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Code</th>
                <th>Phoneno</th>
                <th>Address</th>
                <th>Status</th>
                <th>Reportno</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="{{ path('customer_test_show', { 'id': customer.id }) }}">{{ customer.id }}</a></td>
                <td>{{ customer.fullName }}</td>
                <td>{{ customer.code }}</td>
                <td>{{ customer.phoneNo }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.status }}</td>
                <td>{{ customer.reportNo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('customer_test_show', { 'id': customer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('customer_test_edit', { 'id': customer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_test_new') }}">Create a new customer</a>
        </li>
    </ul>
{% endblock %}
