{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ customer.fullName }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ customer.code }}</td>
            </tr>
            <tr>
                <th>Phoneno</th>
                <td>{{ customer.phoneNo }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ customer.address }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ customer.status }}</td>
            </tr>
            <tr>
                <th>Reportno</th>
                <td>{{ customer.reportNo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_test_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('customer_test_edit', { 'id': customer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
