{% extends 'base.html.twig' %}

{% block body %}
    <h1>Payments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Paymentno</th>
                <th>Fromdate</th>
                <th>Todate</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td><a href="{{ path('payment_show', { 'id': payment.id }) }}">{{ payment.id }}</a></td>
                <td>{{ payment.paymentNo }}</td>
                <td>{% if payment.fromDate %}{{ payment.fromDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if payment.toDate %}{{ payment.toDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ payment.cost }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('payment_show', { 'id': payment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('payment_edit', { 'id': payment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payment_new') }}">Create a new payment</a>
        </li>
    </ul>
{% endblock %}
