{% extends 'base.html.twig' %}

{% block body %}
    <h1>Payment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Paymentno</th>
                <td>{{ payment.paymentNo }}</td>
            </tr>
            <tr>
                <th>Fromdate</th>
                <td>{% if payment.fromDate %}{{ payment.fromDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Todate</th>
                <td>{% if payment.toDate %}{{ payment.toDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ payment.cost }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('payment_edit', { 'id': payment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
